---
import ImageGrid from "../../components/mdx/ImageGrid.astro";
import Base from "../../layouts/Base.astro";

const title = "Photos";
const description = "My Photos";
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Photos</h1>

    --- ---

    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
      </head>
      <body> </body>
    </html>
  </section>
</Base>
