---
import Base from "../layouts/Base.astro";
import { socialLinks } from "../config";
import { Image } from "astro:assets";
import profile from "@images/profile.jpg";
---

<Base>
  <section>
    <a href={socialLinks.twitter} target="_blank">
      <Image
        src={profile}
        alt="Profile"
        class="rounded-full bg-gray-100 block lg:mt-5 mt-0 lg:mb-5 mb-10 mx-auto sm:float-right sm:ml-5 sm:mb-5 grayscale hover:grayscale-0"
        width={160}
        height={160}
        loading="eager"
      />
    </a>

    <h1 class="mb-8 text-2xl font-medium tracking-tight">I work with Noobs.</h1>

    <div class="prose prose-neutral dark:prose-invert">
      <p>
        Hey, I'm Vikas Kapadiya, your go-to full-stack developer who loves PHP
        almost as much as I love coffee (almost!).
      </p>
      <p>
        In my world, function declarations rule, and PHP 8’s latest features are
        my playground. By day, I juggle Laravel, Node.js, MySQL, and Tailwind to
        create web magic, and by night... well, I’m probably debugging.
      </p>
      <p>
        Here, you’ll find my musings, tips, and stories from the trenches of
        full-stack development. If you’re a fellow code warrior or just curious
        about the web dev life, stick around—there’s a lot to share, and I
        promise it’ll be anything but boring!
      </p>
    </div>
  </section>
</Base>
