---
const { lang, code, ...props } = Astro.props;
import { highlight } from "sugar-high";
const highlighted = await highlight(code);
---

<div class="bg-gray-100 p-6 mb-6 border-l-4 border-theme-orange">
  <pre
    class={`language-${lang} text-sm text-gray-800 overflow-x-auto`}
    set:html={highlighted}
  />
</div>
