---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} target={href.startsWith("http") ? "_blank" : undefined} rel={href.startsWith("http") ? "noopener noreferrer" : undefined}>{href}</a>
