---
const { as: Component, text } = Astro.props;

function slugify(str: string) {
  return str
    .toString()
    .toLowerCase()
    .trim()
    .replace(/\s+/g, "-")
    .replace(/&/g, "-and-")
    .replace(/[^\w\-]+/g, "")
    .replace(/\-\-+/g, "-");
}

const id = slugify(text);
---

<Component
  id={id}
  aria-label={text}
  class="text-2xl font-bold text-gray-900 mt-12 mb-6"
>
  <a href=`#${id}` class="anchor" aria-label={id}></a>
  <slot />
</Component>
