---
const { as: Component, text } = Astro.props;

function slugify(str) {
  return str
    .toString()
    .toLowerCase()
    .trim()
    .replace(/\s+/g, "-")
    .replace(/&/g, "-and-")
    .replace(/[^\w\-]+/g, "")
    .replace(/\-\-+/g, "-");
}

const id = slugify(text);
---

<Component id={id} aria-label={text}>
  <a href=`#${id}` class="anchor" aria-label={id}></a>
  <slot />
</Component>
