---
import TweetProvider from "astro-tweet";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div class="tweet my-6">
  <div class="flex justify-center">
    <TweetProvider id={id} />
  </div>
</div>
