::selection {
  background-color: #47a3f3;
  color: #fefefe;
}


:root {
  --hljs-bg: #282c34;
  --hljs-color: #abb2bf;
  --hljs-comment-quote: #5c6370;
  --hljs-keyword: #c678dd;
  --hljs-section-name-deletion: #e06c75;
  --hljs-literal: #56b6c2;
  --hljs-string-attribute: #98c379;
  --hljs-attr-variable-type: #d19a66;
  --hljs-symbol-link-title: #61aeee;
  --hljs-built_in-class: #e6c07b;
}

/* Dark theme colors */
[data-theme="dark"] {
  background-color: #121212;
  --hljs-bg: #fafafa;
  --hljs-color: #383a42;
  --hljs-comment-quote: #a0a1a7;
  --hljs-keyword: #a626a4;
  --hljs-section-name-deletion: #e45649;
  --hljs-literal: #0184bb;
  --hljs-string-attribute: #50a14f;
  --hljs-attr-variable-type: #986801;
  --hljs-symbol-link-title: #4078f2;
  --hljs-built_in-class: #c18401;
}

html {
  min-width: 360px;
}

.prose {
  @apply text-[#333333] dark:text-[#D4D4D4];
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em] font-normal text-[#333333] dark:text-[#D4D4D4];
}

.prose a:hover {
  @apply dark:decoration-neutral-400 decoration-neutral-600;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose h2,
h3,
h4,
h5,
h6 {
  @apply font-medium tracking-tight !important;
}

.prose strong {
  @apply font-medium;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}

pre {
  background-color: var(--hljs-bg) !important;
  color: var(--hljs-color) !important;
  padding: 1em;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 3px 5px !important;
}

.hljs {
  color: var(--hljs-color);
  background: var(--hljs-bg);
}

.hljs-comment,
.hljs-quote {
  color: var(--hljs-comment-quote);
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: var(--hljs-keyword);
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: var(--hljs-section-name-deletion);
}

.hljs-literal {
  color: var(--hljs-literal);
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: var(--hljs-string-attribute);
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: var(--hljs-attr-variable-type);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: var(--hljs-symbol-link-title);
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: var(--hljs-built_in-class);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
