---
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.tsx";
import Footer from "../components/Footer.astro";

import "@styles/global.css";

const { title, description, image } = Astro.props;
---

<html lang="en" class="">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="googlebot"
      content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <BaseHead title={title} description={description} image={image} />
    <!-- <link
      rel="alternate"
      type="application/rss+xml"
      title="Your Site's Title"
      href={new URL("/rss.xml", Astro.site)}
    /> -->
  </head>
  <body class="antialiased min-h-screen flex flex-col">
    <Header client:load />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
